.about {
    span {
        font-size: 2.5rem;
        color: $orange;
    }
    h3 {
        @include title-Text(2.7rem);
        padding: 1rem 0;
    }
    p {
        @include graph-Text(1.5rem);
    }
    ul {
        list-style: none;
        li {
            padding-top: 1.5rem;
            @include title-Text(1.7rem);
            i {
                color: $orange;
                padding-right: .5rem;
            }
        }
    }
}