.counter {
    background: url(../images/counter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    .box-container {
        @include grid(25rem);
        .box {
            text-align: center;
            h3 {
                font-size: 5rem;
                color: $orange;
            }
            p {
                @include title-Text(2rem);
                color: $white;
            }
        }
    }
}