.pricing {
    .box-container {
        @include grid(29rem);
        margin-top: 8rem;
        margin-bottom: 5rem;
        .box {
            padding: 2rem;
            text-align: center;
            border: $border;
            background: $bg-color;
            border-radius: .5rem;
            &:nth-child(2) {
                transform: scale(1.2)
            }
            h3 {
                @include title-Text(2rem);
                padding-top: 1rem;
            }
            .price {
                padding: 1rem 0;
                @include title-Text(6rem);
                font-weight: bolder;
                span {
                    font-size: 2rem;
                    font-weight: normal;
                }
            }
            .list {
                padding-top: 1rem;
                p {
                    @include graph-Text(1.7rem);
                    i {
                        padding-right: .5rem;
                        color: $orange;
                        &.fa-times {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .pricing .box-container {
        margin-top: 0;
        margin-bottom: 0;
        .box:nth-child(2) {
            transform: scale(1);
        }
    }
}